body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px;
    background-color: aqua;
}

h1{
    text-align: center;
    margin-bottom: 20px;
}

form{
    width: 400px;
    margin: 0 auto;
}

.form-group{
    margin-bottom: 15px;
}

label{
    font-weight: bold;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #f8f3f3cc;
}

th {
    background-color: #f2f2f2;
}
.btn {
    margin-right: 5px;
}